.LoginWrap{
	width: 100%;
	height: 100%;
	color: #666;
	font-size: .14rem;
}
.LoginWrap .iconfont{
	color: #999;
}
.LoginWrap input{
	outline: 0;
}
.header{
	height: .44rem;
	font-size: .18rem;
	width: 100%;
    line-height: .44rem;
    text-align: center;
    position: absolute;
    top:0;
    left:0;
}
section{
	background: #ccc;
	margin-top: .44rem;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.active{
	color:  #ff4c48;
}
.logintype{
	display: flex;
 /*    color: #3e3e3e; */
   	border-bottom: 1px solid #eee;
   	background-color: #f8f8f8;
}
.logintype div{
	flex:1;
    padding: .15rem 0;
    text-align: center;
    position: relative;
}
.info::after{
    content: "";
    display: block;
    width: 1rem;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 55%;
    margin-left: -0.575rem;
    background-color: #ff4c48;
}
.validate{
	background: #fff;
	padding:0 .1925rem;
}
.validate i{
	display: block;
}
.pNumber{
	padding: .1rem 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.icon-shouji2,.icon-yuechi1,.icon-suo{
	line-height: .28rem;
	padding-right: .1925rem;
}
.icon-yanjing{
	font-size: .16rem;
}
.icon-cuowu{
	display: none;
	font-size: .14rem;
}
.Num{
	flex:1;
}
.Num input{
  display: block;
  width: 100%;
  border:0;
  font-size: .15rem;
}
.Num input::-webkit-input-placeholder{
	color: #ccc;
}
.disabled{
	background: #999!important;
}
.ver{
	width: 1rem;
	height: .28rem;
	border-radius: 4px;
	position: relative;
}
.ver img{
	width: 100%;
	height: 100%;
}
.ver span{
	position: absolute;
	top:0;
	left: 30%;
	font-size: .2rem;
	color: green;
}
.rand{
	border-left: 1px solid #e0e0e0;
	color: #999;
	padding-left: .15rem;
}
.login{
	background: #ccc;
    text-align: center;
    padding: .06rem .12rem;
    font-size: .15rem;
    line-height: .3rem;
    border:0;
    margin-top:.375rem;
    opacity: .65;
}
.red{
	color: #fff;
	background: #ff6565;
}
.psw{
	margin-top: .125rem;
	padding: .125rem 0;	
	display: flex;
	justify-content:space-between;
	align-items:center;
}
.argeeWrap{
	position: fixed;
	left: 0;
	bottom:.2rem;
    width: 100%;
}
.agree{
	margin-top: .2rem;
	text-align: center;	
}
.agree span{
	color: #999;
	font-size: .11rem;
}