.bodyWrap{
	width: 100%;
	height: 100%;
	background: #fff;
	color: #666;
	font-size: .14rem;
}
.bodyWrap .iconfont{
	color: #999;
	font-size: .2rem;
}
.bodyWrap input{
	outline: 0;
}
.header{
   display: flex;
}
.header li:nth-child(1){
	min-width: .8rem;
	max-width: 1.1rem;
	line-height: .44rem;
}
.header li:nth-child(2){
	width: 100%;
	line-height: .44rem;
	text-align: center;
}
.header li:nth-child(3){
	min-width: .8rem;
	max-width: 1.1rem;
}
.header i{
	padding-left: .1rem;
	font-size: .35rem;
	line-height: .5rem;
}
.header h1 {
	font-size: 18px;
    font-weight: 400;
    line-height: 44px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 .8rem;
    color: #222;
}
section{
	background: #ccc;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.validate{
	background: #fff;
	padding:0 .1925rem;
}
.validate p{
	color: #ccc;
	font-size: .12rem;
	height: .18rem;
	line-height: .18rem;
}
.validate p a{
	padding-left: .05rem;
}
.validate i{
	display: block;
}
.validate .icon-cuowu{
	display: none;
	font-size: .14rem;
}
.pNumber{
	padding: .1rem 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.icon-shouji2,.icon-suo,.icon-yuechi1{
	line-height: .28rem;
	padding-right: .1925rem;
}
.icon-yanjing{
	font-size: .16rem;
}
.Num{
	flex:1;
}
.Num input{
  display: block;
  width: 100%;
  border:0;
  font-size: .15rem;
}
.Num input::-webkit-input-placeholder{
	color: #ccc;
}
.disabled{
	background: #999!important;
}
.regist{
	background: #ccc;
    text-align: center;
    padding: .06rem .12rem;
    font-size: .15rem;
    line-height: .3rem;
    border:0;
    margin-top:.185rem;
    opacity: .65;
}
.psw{
	margin-top: .125rem;
	padding: .125rem 0;	
	display: flex;
	justify-content:space-between;
	align-items:center;
}
.ver{
	width: 1rem;
	height: .28rem;
	border-radius: 4px;
	position: relative;
}
.ver img{
	width: 100%;
	height: 100%;
}
.ver span{
	position: absolute;
	top:0;
	left: 30%;
	font-size: .2rem;
	color: green;
}
.red{
	color: #fff;
	background: #ff6565;
}
.code{
	display: block;
	text-align: center;
	padding:.05rem 0;
	color: #ccc;
	width: 1rem;border-left: 1px solid #e0e0e0;
}
.copy{
	padding-top: .125rem;
	text-align: center;
	font-size: .12rem;
}